<h1>Guides</h1>
<ul>
  <% @guides.each do |g| %>
  <li>
    <span><%= g.name %></span>
    <span><%= g.description %></span>
  </li>
  <% end %>
</ul>

<%= link_to "Create New Guide", new_guide_path %>
